@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 2100px;
  min-width: 320px;
  margin: 0 auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }